<div class="row justify-content-end">
  <div class="col-3 my-3">
    <input
      type="text"
      class="form-control"
      placeholder="Search by name..."
      [ngModel]="userListService.nameFilter$ | async"
      (ngModelChange)="userListService.changeNameFilter($event)">
  </div>
</div>
<ng-container *ngIf="userListVm$ | async as vm">
  <div *ngIf="vm.error">
    {{ vm.error }}
  </div>
  <div *ngIf="vm.loading">
    Loading...
  </div>
  <ng-container *ngIf="!vm.error && !vm.loading && vm.userList">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Gender</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of vm.userList.data">
        <th scope="row">{{ user.name }}</th>
        <td>{{ user.email }}</td>
        <td>{{ user.gender }}</td>
        <td>{{ user.status }}</td>
        <td>
          <button type="button" class="btn btn-success" [routerLink]="['/posts/' + user.id]">View Posts</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="row justify-content-end">
      <pagination
        [totalItems]="vm.userList.meta.pagination.total"
        [itemsPerPage]="vm.userList.meta.pagination.limit"
        [maxSize]="10"
        [ngModel]="userListService.currentPage$ | async"
        (ngModelChange)="userListService.changePage($event)">
      </pagination>
    </div>
  </ng-container>
</ng-container>
