<div class="input-group mb-3">
  <input
    type="text"
    class="form-control"
    placeholder="Search by name..."
    [ngModel]="nameFilter$ | async"
    (ngModelChange)="nameFilter$.next($event)">
  <div class="input-group-append">
    <button class="btn btn-outline-success" type="button">Search</button>
  </div>
</div>
<ng-container *ngIf="users$ | async as users else loading">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Gender</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users.data">
      <th scope="row">{{ user.name }}</th>
      <td>{{ user.email }}</td>
      <td>{{ user.gender }}</td>
      <td>{{ user.status }}</td>
      <td></td>
    </tr>
    </tbody>
  </table>
  <pagination
    [totalItems]="users.meta.pagination.total"
    [itemsPerPage]="users.meta.pagination.limit"
    [maxSize]="10"
    [ngModel]="currentPage$ | async"
    (ngModelChange)="currentPage$.next($event)">
  </pagination>
</ng-container>
<ng-template #loading>Loading...</ng-template>
